html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 10px 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
:root {
  --logo-font: "Ribeye";
  --accent-font: "Roboto", sans-serif;
  --title-font: "Gelasio";
  --button-bg: #eb5248;
  --button-hover-bg: #c72116;
  --accent-bg: #fffbf0;
  --black-color: #000000;
  --light-color: #ffffff;
  --link-color: #ffae00;
  --black-color-two: rgba(0, 0, 0, 0.60);
  --footer-bg: rgba(38, 148, 153, 0.04);
  --shadow-input: rgba(0, 0, 0, 0.15);
  --facebook-color: #0303c4;
  --instagram-color: #fdadba;
  --telegram-color: #2aa7d1;
  --viber-color: #8b098b;
  --function-transition: 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hero {
  width: 100%;
  height: 844px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("..//..//img/hero/hero-bg.jpg");
  background-size: cover;
  padding: 42px 133px 0 133px;
}

.header {
  display: flex;
  align-items: center;
  width: 1160px;
  margin-bottom: 212px;
}

.header__logo {
  color: var(--light-color);
  font-family: var(--logo-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.44px;
  width: 124px;
  height: 36px;
  margin-right: 211px;
}

.header__nav {
  margin-right: 172px;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  color: var(--light-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: var(--function-transition);
}
.header__nav-link:hover {
  color: var(--link-color);
}

.header__btn, .hero__btn {
  color: var(--light-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-color: transparent;
  border-radius: 5px;
  background: var(--button-bg);
  padding: 14px 35px;
  transition: var(--function-transition);
}
.header__btn:hover, .hero__btn:hover {
  background: var(--button-hover-bg);
}

.hero__title {
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 804px;
  margin-bottom: 30px;
  padding-left: 70px;
}

.hero__text {
  color: var(--light-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 458px;
  opacity: 0.6;
  margin-bottom: 40px;
  padding-left: 70px;
}

.hero__btn {
  padding: 17px 47px;
  margin-left: 70px;
}

.popular {
  width: 100%;
  padding: 140px 133px;
  background: var(--accent-bg);
}

.subpopular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.subpopular__title-main {
  color: var(--black-color);
  font-family: var(--title-font);
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}

.subpopular__text-main {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  text-align: center;
  width: 735px;
  margin-bottom: 50px;
}

.subpopular__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 29px;
}

.subpopular__item {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--light-color);
  transition: var(--function-transition);
}
.subpopular__item:hover {
  box-shadow: 0 0 8px var(--black-color-two);
}

.subpopular__img {
  width: 360px;
  height: 331px;
}

.ubpopular__descr {
  padding: 35px 27px;
}

.subpopular__title-section {
  color: var(--black-color);
  text-align: center;
  font-family: var(--title-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  margin-bottom: 10px;
}

.subpopular__text-section {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  text-align: center;
  width: 306px;
}

.special {
  width: 1600px;
  background: var(--accent-bg);
  padding-bottom: 50px;
}

.special__offer-info {
  width: 656px;
  margin-bottom: 60px;
  margin-left: 472px;
}

.special__offer-info-title {
  color: var(--black-color);
  font-family: var(--title-font);
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}

.special__offer-info-text {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  text-align: center;
}

.special__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 52px;
  padding: 0 2px;
}

.special__item-img {
  margin-bottom: 20px;
}

.special__item-descr {
  padding-left: 2px;
}

.special__item-title {
  color: var(--black-color);
  font-family: var(--title-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 8px;
}

.special__item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.special__item-rating-locat {
  margin-right: 10px;
}

.special__item-rating-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  margin-right: 50px;
}

.special__item-star {
  margin-right: 10px;
}

.special__item-rating-num {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.special__item-day {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 8px;
}

.special__item-price, .special__item-price-b, .special__item-price-a {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.special__item-price-a {
  font-weight: 400;
}

.special__item-price-b {
  color: var(--black-color-two);
  font-size: 16px;
}

.special__pagin {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
  padding: 2px 0;
  margin-left: 619px;
}

.special__pagin-arr-l {
  margin-right: 50px;
  transition: var(--function-transition);
}
.special__pagin-arr-l:hover {
  transform: scale(1.3);
}

.special__pagin-line {
  width: 231px;
  height: 5px;
  margin-right: 50px;
}

.special__pagin-arr-r {
  transition: var(--function-transition);
}
.special__pagin-arr-r:hover {
  transform: scale(1.3);
}

.blog {
  width: 1600px;
  background: var(--accent-bg);
  padding-bottom: 142px;
}

.blog__content-up {
  width: 581px;
  padding: 0 510px;
}

.blog__info-title {
  color: var(--black-color);
  text-align: center;
  font-family: var(--title-font);
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}

.blog__info-text {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-fon);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  margin-bottom: 56px;
}

.blog__info {
  width: 581px;
}

.blog__content {
  display: flex;
  padding-left: 230px;
}

.blog__content-history {
  margin-right: 32px;
}

.blog__content-history-img {
  margin-bottom: 35px;
}

.blog__content-history-title {
  color: var(--black-color);
  font-family: var(--title-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 10px;
}

.blog__content-history-text {
  color: var(--black-color);
  font-family: var(--accent-fon);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  width: 470px;
  margin-bottom: 10px;
}

.blog__content-history-link {
  color: var(--black-color);
  font-family: var(--accent-fon);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: var(--function-transition);
}
.blog__content-history-link:hover {
  color: var(--link-color);
}

.blog__content-news {
  padding-right: 250px;
}

.blog__content-news-item {
  display: flex;
}
.blog__content-news-item:not(:last-child) {
  margin-bottom: 30px;
}

.blog__content-news-img {
  margin-right: 30px;
}

.blog__content-news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0;
}

.blog__content-news-info-title {
  color: var(--black-color);
  font-family: var(--title-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.blog__content-news-info-text {
  color: var(--black-color);
  font-family: var(--accent-fon);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  width: 243px;
}

.blog__content-news-info-link {
  color: var(--black-color);
  font-family: var(--accent-fon);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8;
  transition: var(--function-transition);
}
.blog__content-news-info-link:hover {
  color: var(--link-color);
}

.footer {
  display: flex;
  width: 1600px;
  background-color: var(--footer-bg);
  padding: 60px 0;
}

#footer-top {
  scroll-behavior: smooth;
}

.footer__info {
  margin-right: 107px;
  padding-left: 230px;
}

.footer__info-logo {
  display: block;
  color: var(--black-color);
  font-family: var(--logo-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.44px;
  margin-bottom: 40px;
  transition: var(--function-transition);
}
.footer__info-logo:hover {
  transform: scale(1.06);
}

.footer__info-contact {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.96px;
  margin-bottom: 10px;
}

.footer__info-link {
  display: block;
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.96px;
  margin-bottom: 20px;
  transition: var(--function-transition);
}
.footer__info-link:hover {
  color: var(--link-color);
}

.footer__info-img:not(:last-child) {
  margin-right: 20px;
}

.footer__info-img {
  transition: var(--function-transition);
}
.footer__info-img:hover {
  transform: scale(1.4);
}

.face {
  fill: var(--facebook-color);
}

.instag {
  fill: var(--instagram-color);
}

.teleg {
  fill: var(--telegram-color);
}

.vibe {
  fill: var(--viber-color);
}

.footer__services {
  margin-right: 121px;
}

.footer__services-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__services-link, .footer__condit-link {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.96px;
  transition: var(--function-transition);
}
.footer__services-link:hover, .footer__condit-link:hover {
  color: var(--link-color);
}

.footer__condit {
  margin-right: 133px;
}

.footer__condit-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__subscr-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.2px;
  margin-bottom: 42px;
}

.footer__subscr-input {
  border-radius: 5px;
  border: 1px solid var(--black-color);
  opacity: 0.4;
  box-shadow: 0px 0px 10px 10px var(--shadow-input);
  margin-right: 35px;
  padding: 14px 10px;
  transition: var(--function-transition);
}
.footer__subscr-input::placeholder {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.96px;
}
.footer__subscr-input:hover {
  border: 1px solid var(--button-hover-bg);
}

.footer__subscr-btn {
  color: var(--light-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.96px;
  border-radius: 5px;
  background: var(--button-bg);
  padding: 10px 32px;
  border-color: transparent;
  transition: var(--function-transition);
}
.footer__subscr-btn:hover {
  background: var(--button-hover-bg);
}/*# sourceMappingURL=main.css.map */