:root {
    --logo-font: 'Ribeye';
    --accent-font: 'Roboto', sans-serif;
    --title-font: 'Gelasio';
    --button-bg: #eb5248;
    --button-hover-bg: #c72116;
    --accent-bg: #fffbf0;
    --black-color: #000000;
    --light-color: #ffffff;
    --link-color: #ffae00;
    --black-color-two: rgba(0, 0, 0, 0.60);
    --footer-bg: rgba(38, 148, 153, 0.04);
    --shadow-input: rgba(0, 0, 0, 0.15);
    --facebook-color: #0303c4;
    --instagram-color: #fdadba;
    --telegram-color: #2aa7d1;
    --viber-color: #8b098b;
    --function-transition: 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}